body{font-family: Courier New; text-align: center;}
main{padding-top: 25px;}
.navbar{position: relative!important;}
.dropdown{position:inherit;}
.dropdown-toggle::after{vertical-align: 0;}
.dropdown-menu[data-bs-popper]{left: 87%}